<div
  id="topbar-wrapper"
  [ngClass]="{ 'advanced-mode': _advancedMode }"
  class="d-flex align-items-center justify-content-between"
  [@toggleAdvanced]="_advancedMode ? 'advanced' : 'compact'"
>
  <div id="topbar-info" class="d-flex align-items-center">
    <img
      id="topbar-logo"
      src="assets/image/sapi-logo.svg"
      alt="SAPI project logo"
    />
    <span id="topbar-title">SAPI</span>
  </div>
  <div id="topbar-actions" class="d-flex" *ngIf="!isProductionMode()">
    <ng-container *ngFor="let btn of buttons">
      <app-topbar-button
        class="topbar-button"
        [attr.advanced]="_advancedMode"
        *ngIf="_advancedMode || !btn.advancedOnly"
        (click)="btn.action()"
        [icon]="btn.icon"
        [text]="btn.text"
      ></app-topbar-button>
    </ng-container>

    <ng-container *ngFor="let btn of buttonsDropdown">
      <div ngbDropdown [id]="btn.id" class="d-flex">
        <app-topbar-button
          [attr.advanced]="btn.advancedOnly"
          [id]="btn.id + '-toggle'"
          *ngIf="_advancedMode || !btn.advancedOnly"
          [icon]="btn.type"
          [text]="btn.text"
          ngbDropdownToggle
        ></app-topbar-button>

        <ng-container [ngSwitch]="btn.type">
          <app-steps-dropdown
            *ngSwitchCase="'steps'"
            ngbDropdownMenu
            class="p-0"
            aria-labelledby="steps-dropdown-toggle"
          ></app-steps-dropdown>
          <app-filter-dropdown
            *ngSwitchCase="'filter'"
            ngbDropdownMenu
            class="p-0"
            aria-labelledby="filter-dropdown-toggle"
          ></app-filter-dropdown>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <button id="configs-action" class="btn">
    <img src="assets/image/icon/cog.svg" alt="cog icon" />
  </button>
</div>
