<!doctype html>
<html>

<head>
    <title>Flask-Sock Demo</title>
</head>

<body>
    <h1>Flask-Sock Demo</h1>
    <div id="log"></div>
    <br>
    <button id="start-button" type="button">Start!</button>
    <h2>Video feed</h2>
    <img id="video-feed" src="{{ url_for('camera_blueprint.camera_feed') }}" >
    <script>
        page = document.getElementById('log').innerHTML
        const log = (text, color) => {
            document.getElementById('log').innerHTML = page + `<span style="color: ${color}">${text}</span><br>`;
        };

        document.getElementById('start-button').onclick = ev => {
            ev.preventDefault();
            document.getElementById('start-button').style.display = "none"
            const socket = new WebSocket('ws://' + location.host + '/analysis');
            socket.addEventListener('message', ev => {
                log('<<< ' + ev.data, 'green');
            });
        };
    </script>
</body>

</html>