:root {
    --primary: #3772ff;
    --primary-contrast-dark: #2865f3;
    --yellow: #f6b400;
    --blue: #3B77D1;
    --crimson: #df0034;
    --violet: #7800D4;
    --green: #34c759;
    --bg: #e6e8e6;
    --text-white: #eeeeee;
    --text-black: #4f4f4f;
    --border: rgba(44, 54, 63, 0.5);
}

@font-face {
    font-family: Roboto;
    src: url("/assets/font/Roboto-Regular.ttf") format("truetype");
}

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}
@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

.green {
    color: var(--green);
}
.yellow {
    color: var(--yellow);
}
.violet {
    color: var(--violet);
}
.blue {
    color: var(--blue);
}
.crimson {
    color: var(--crimson);
}
